@model CMWeb.Models.Conference
@{
    ViewData["Title"] = "Details";
}
<style>
    .dropbtn {
      background-color: #3498DB;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}
</style>
<h1>Details</h1>

<div>
    <h4>Conference</h4>
    <button onclick="myFunction()" class="dropbtn">Create Event</button>
    <div id="myDropdown" class="dropdown-content">
        <a asp-controller="Chat" asp-action="Create" asp-route-conferenceId="@Model.Id">Chat</a>
        <a asp-controller="Meal" asp-action="Create" asp-route-conferenceId="@Model.Id">Meal</a>
        <a asp-controller="Party" asp-action="Create" asp-route-conferenceId="@Model.Id">Party</a>
        <a asp-controller="Talk" asp-action="Create" asp-route-conferenceId="@Model.Id">Talk</a>
        <a asp-controller="Workshop" asp-action="Create" asp-route-conferenceId="@Model.Id">Workshop</a>
    </div>
   
    <br>
    <a asp-controller="Notification" asp-action="Create">Send Notification</a>
    <br>
    <a asp-controller="ConferenceRating" asp-action="Create">Rate Conference</a>
    
        
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>