@using Newtonsoft.Json.Linq
@model IEnumerable<CMWeb.Models.SuperConference>

@{
    ViewData["Title"] = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<h1>Estadísticas</h1>
<body>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <canvas id="ConferencesEventsAttendance"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="EventsAttendance"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <canvas id="ConferencesTrackAttendance"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="TracksAttendance"></canvas>
        </div>
    </div>
</div>

<p id="asfg"></p>

@foreach (var item in (List<string>) ViewData["ConferencesEventsAttendance"])
 {
     <p>@item</p>
 }
<br/>

<script>
function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }
</script>

<script>
    var conferenceEventsAttendanceData = []
    var conferenceEventsAttendance =  [];
    var conferenceEventsAttendanceConf = [];
    @foreach (var item in (List<string>) ViewData["ConferencesEventsAttendance"])
    {    
        <text>conferenceEventsAttendanceData.push(@Html.Raw(item));</text>
    }
      
    var ConferencesEventsAttendanceChart = document.getElementById('ConferencesEventsAttendance').getContext('2d');
    
    
    for (let d of conferenceEventsAttendanceData)
        {   
            
            let attendance = [];
            for (let e of d.data)
                {
                                if (! conferenceEventsAttendanceConf.includes(e.Name))
                                {
                                    conferenceEventsAttendanceConf.push(e.Name);
                                }
                                attendance.push(e.Attendance);

                }
            let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()};
            conferenceEventsAttendance.push(data)
            
           
        }
   
    var massPopChart = new Chart(ConferencesEventsAttendanceChart, {
        type: "bar",
        data: {
            labels: conferenceEventsAttendanceConf,
            datasets: conferenceEventsAttendance
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>


<h1>EVENTSATTENDANCE</h1>
  
  @foreach (var item in (List<string>) ViewData["EventsAttendance"])
   {
       <p>@item</p>
   }
<br/>

<script>
    var EventsAttendanceData = []
    var EventsAttendance =  [];
    var EventsAttendanceConf = [];
    @foreach (var item in (List<string>) ViewData["EventsAttendance"])
    {    
        <text>EventsAttendanceData.push(@Html.Raw(item));</text>
    }
      
    var EventsAttendanceChart = document.getElementById('EventsAttendance').getContext('2d');
    
    var EventsAttendanceData = [{"name":"A","data":[{"name":"2019","attendance":1}, {"name":"2020","attendance":1}]}, {"name":"ASDSAF","data":[{"name":"2019","attendance":1}, {"name":"2020","attendance":0}]}]
    
    for (let d of EventsAttendanceData)
        {   
            
            let attendance = [];
            for (let e of d.data)
                {
                                if (! EventsAttendanceConf.includes(e.name))
                                {
                                    EventsAttendanceConf.push(e.name);
                                }
                                attendance.push(e.attendance);

                }
            let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()};
            EventsAttendance.push(data)
            
           
        }
   
    var massPopChart = new Chart(EventsAttendanceChart, {
        type: "bar",
        data: {
            labels: EventsAttendanceConf,
            datasets: EventsAttendance
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>




<h1>CONFERENCETRACKSATTENDANCE</h1>

@foreach (var item in (List<string>) ViewData["ConferencesTrackAttendance"])
 {
     <p>@item</p>
 }

<script>
    var ConferencesTrackAttendanceData = []
    var ConferencesTrackAttendance =  [];
    var ConferencesTrackAttendanceConf = [];
    @foreach (var item in (List<string>) ViewData["ConferencesTrackAttendance"])
    {    
        <text>ConferencesTrackAttendanceData.push(@Html.Raw(item));</text>
    }
      
    var ConferencesTrackAttendanceChart = document.getElementById('ConferencesTrackAttendance').getContext('2d');
       
    for (let d of ConferencesTrackAttendanceData)
        {   
            
            let attendance = [];
            for (let e of d.data)
                {
                                if (! ConferencesTrackAttendanceConf.includes(e.Name))
                                {
                                    ConferencesTrackAttendanceConf.push(e.Name);
                                }
                                attendance.push(e.Attendance);

                }
            let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()};
            ConferencesTrackAttendance.push(data)
            
           
        }
   
    var massPopChart = new Chart(ConferencesTrackAttendanceChart, {
        type: "bar",
        data: {
            labels: ConferencesTrackAttendanceConf,
            datasets: ConferencesTrackAttendance
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>


<br/>
<h1>TRACKSATTENDANCE</h1>

@foreach (var item in (List<string>) ViewData["TracksAttendance"])
 {
     <p>@item</p>
 }

<script>
    var TracksAttendanceData = []
    var TracksAttendance =  [];
    var TracksAttendanceConf = [];
    @foreach (var item in (List<string>) ViewData["TracksAttendance"])
    {    
        <text>TracksAttendanceData.push(@Html.Raw(item));</text>
    }
      
    var TracksAttendanceChart = document.getElementById('TracksAttendance').getContext('2d');
       
    for (let d of TracksAttendanceData)
        {   
            
            let attendance = [];
            for (let e of d.Data)
                {
                                if (! TracksAttendanceConf.includes(e.Name))
                                {
                                    TracksAttendanceConf.push(e.Name);
                                }
                                attendance.push(e.Attendance);

                }
            let data = {label: d.Name, data: attendance, backgroundColor: getRandomColor()};
            TracksAttendance.push(data)
            
           
        }
   
    var massPopChart = new Chart(TracksAttendanceChart, {
        type: "bar",
        data: {
            labels: TracksAttendanceConf,
            datasets: TracksAttendance
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>


<h1>CONFERENCEEVENTSRATINGS</h1>

@foreach (var item in (List<string>) ViewData["ConferencesEventsRatings"])
 {
     <p>@item</p>
 }
<h1>EventsRatings</h1>

@foreach (var item in (List<string>) ViewData["EventsRatings"])
 {
     <p>@item</p>
 }
<h1>CONFERENCESTRACKRATINGS</h1>

@foreach (var item in (List<string>) ViewData["ConferencesTrackRating"])
 {
     <p>@item</p>
 }
<h1>TRACKSRATING</h1>

@foreach (var item in (List<string>) ViewData["TracksRating"])
 {
     <p>@item</p>
 }
<h1>SPEAKERSRATING</h1>

@foreach (var item in (List<string>) ViewData["SpeakersRating"])
 {
     <p>@item</p>
 }
</body>




<script>
    const data = [{name: "conf1", data: [{event: "ev1", attendance: 1}, {event: "ev2", attendance: 2}, {event: "ev3", attendance: 1}]},
                  {name: "conf2", data: [{event: "ev1", attendance: 2}, {event: "ev2", attendance: 3}, {event: "ev3", attendance: 4}]}];
    
    var myChart = document.getElementById('myChart').getContext('2d');
    var eventsName = [];
    var confsName = [];
    
    let datasets = []
    let datasetsEv = []
    
    for (let d of data)
        {   
            let attendance = []
            for (let e of d.data)
                {
                                if (! eventsName.includes(e.event))
                                {
                                    eventsName.push(e.event)
                                }
                                attendance.push(e.attendance)

                }
            let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()}
            datasets.push(data)
            
           
        }
   
    var massPopChart = new Chart(myChart, {
        type: "bar",
        data: {
            labels: eventsName,
            datasets: datasets
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>

<script>

    const dataEv = [{name: "ev1", data: [{conference: "conf1", attendance: 1}, {conference: "conf2", attendance: 2}]},
                        {name: "ev2", data: [{conference: "conf1", attendance: 2}, {conference: "conf2", attendance: 3}]},
                        {name: "ev3", data: [{conference: "conf1", attendance: 1}, {conference: "conf2", attendance: 4}]}]
        

    
    var myChart2 = document.getElementById('myChart1').getContext('2d');
    
    for (let d of dataEv)
                {   
                    let attendance = []
                    for (let e of d.data)
                        {
                                        if (! confsName.includes(e.conference))
                                        {
                                            confsName.push(e.conference)
                                        }
                                        attendance.push(e.attendance)
        
                        }
                    
                    let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()}
                    datasetsEv.push(data)
                    
                   
                }
    
    var massPopChart2 = new Chart(myChart2, {
        type: "bar",
        data: {
            labels: confsName,
            datasets: datasetsEv
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>


<script>
    const dataTrackConf = [{name: "conf1", data: [{track: "t1", attendance: 5}, {track: "t2", attendance: 4}, {track: "t3", attendance: 5}]},
                            {name: "conf2", data: [{track: "t1", attendance: 3}, {track: "t2", attendance: 1}, {track: "t3", attendance: 4}]}];
    
    
    var myChart3 = document.getElementById('myChart2').getContext('2d');
    var tracksName = []
    var datasetTrack = []
    
    for (let d of dataTrackConf)
        {   
            let attendance = []
            for (let t of d.data)
                {
                                if (! tracksName.includes(t.track))
                                {
                                    tracksName.push(t.track)
                                }
                                attendance.push(t.attendance)

                }
            let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()}
            datasetTrack.push(data)
            
           
        }
   
    var massPopChart3 = new Chart(myChart3, {
        type: "bar",
        data: {
            labels: tracksName,
            datasets: datasetTrack
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>


<script>

    const dataConfTrack = [{name: "t1", data: [{conference: "conf1", attendance: 1}, {conference: "conf2", attendance: 2}]},
                           {name: "t2", data: [{conference: "conf1", attendance: 2}, {conference: "conf2", attendance: 3}]},
                           {name: "t3", data: [{conference: "conf1", attendance: 1}, {conference: "conf2", attendance: 4}]}]
        
    var datasetConfTrack = []
    
    var myChart4 = document.getElementById('myChart3').getContext('2d');
    
    for (let d of dataConfTrack)
                {   
                    let attendance = []
                    for (let e of d.data)
                        {
                                        attendance.push(e.attendance)
        
                        }
                    
                    let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()}
                    datasetConfTrack.push(data)
                    
                   
                }
    
    var massPopChart3 = new Chart(myChart4, {
        type: "bar",
        data: {
            labels: confsName,
            datasets: datasetConfTrack
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>
    