@using Newtonsoft.Json.Linq
@model IEnumerable<CMWeb.Models.SuperConference>

@{
    ViewData["Title"] = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<h1>Estadísticas</h1>
<body>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <canvas id="ConferencesEventsAttendance"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="EventsAttendance"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <canvas id="ConferencesTrackAttendance"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="TracksAttendance"></canvas>
        </div>
    </div>
</div>

<p id="asfg"></p>

@foreach (var item in (List<string>) ViewData["ConferencesEventsAttendance"])
 {
     <p>@Html.Raw(item)</p>
 }
<br/>

<script>
function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }
</script>

<script>
    var conferenceEventsAttendanceData = []
    var conferenceEventsAttendance =  [];
    var conferenceEventsAttendanceConf = [];
    @foreach (var item in (List<string>) ViewData["ConferencesEventsAttendance"])
    {    
        <text>conferenceEventsAttendanceData.push(@Html.Raw(item));</text>
    }
      
    var ConferencesEventsAttendanceChart = document.getElementById('ConferencesEventsAttendance').getContext('2d');
    
    
    for (let d of conferenceEventsAttendanceData)
        {   
            
            let attendance = [];
            for (let e of d.data)
                {
                                if (! conferenceEventsAttendanceConf.includes(e.Name))
                                {
                                    conferenceEventsAttendanceConf.push(e.Name);
                                }
                                attendance.push(e.Attendance);

                }
            let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()};
            conferenceEventsAttendance.push(data)
            
           
        }
   
    var massPopChart = new Chart(ConferencesEventsAttendanceChart, {
        type: "bar",
        data: {
            labels: conferenceEventsAttendanceConf,
            datasets: conferenceEventsAttendance
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>


<h1>EVENTSATTENDANCE</h1>
  
  @foreach (var item in (List<string>) ViewData["EventsAttendance"])
   {
       <p>@Html.Raw(item)</p>
   }
<br/>

<script>
    var EventsAttendanceData = []
    var EventsAttendance =  [];
    var EventsAttendanceConf = [];
    @foreach (var item in (List<string>) ViewData["EventsAttendance"])
    {    
        <text>EventsAttendanceData.push(@Html.Raw(item));</text>
    }
      
    var EventsAttendanceChart = document.getElementById('EventsAttendance').getContext('2d');
    
    var EventsAttendanceData = [{"name":"A","data":[{"name":"2019","attendance":1}, {"name":"2020","attendance":1}]}, {"name":"ASDSAF","data":[{"name":"2019","attendance":1}, {"name":"2020","attendance":0}]}]
    
    for (let d of EventsAttendanceData)
        {   
            
            let attendance = [];
            for (let e of d.data)
                {
                                if (! EventsAttendanceConf.includes(e.name))
                                {
                                    EventsAttendanceConf.push(e.name);
                                }
                                attendance.push(e.attendance);

                }
            let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()};
            EventsAttendance.push(data)
            
           
        }
   
    var massPopChart = new Chart(EventsAttendanceChart, {
        type: "bar",
        data: {
            labels: EventsAttendanceConf,
            datasets: EventsAttendance
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>




<h1>CONFERENCETRACKSATTENDANCE</h1>

@foreach (var item in (List<string>) ViewData["ConferencesTrackAttendance"])
 {
     <p>@Html.Raw(item)</p>
 }

<script>
    var ConferencesTrackAttendanceData = []
    var ConferencesTrackAttendance =  [];
    var ConferencesTrackAttendanceConf = [];
    @foreach (var item in (List<string>) ViewData["ConferencesTrackAttendance"])
    {    
        <text>ConferencesTrackAttendanceData.push(@Html.Raw(item));</text>
    }
      
    var ConferencesTrackAttendanceChart = document.getElementById('ConferencesTrackAttendance').getContext('2d');
       
    for (let d of ConferencesTrackAttendanceData)
        {   
            
            let attendance = [];
            for (let e of d.data)
                {
                                if (! ConferencesTrackAttendanceConf.includes(e.Name))
                                {
                                    ConferencesTrackAttendanceConf.push(e.Name);
                                }
                                attendance.push(e.Attendance);

                }
            let data = {label: d.name, data: attendance, backgroundColor: getRandomColor()};
            ConferencesTrackAttendance.push(data)
            
           
        }
   
    var massPopChart = new Chart(ConferencesTrackAttendanceChart, {
        type: "bar",
        data: {
            labels: ConferencesTrackAttendanceConf,
            datasets: ConferencesTrackAttendance
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>


<br/>
<h1>TRACKSATTENDANCE</h1>

@foreach (var item in (List<string>) ViewData["TracksAttendance"])
 {
     <p>@Html.Raw(item)</p>
 }

<script>
    var TracksAttendanceData = []
    var TracksAttendance =  [];
    var TracksAttendanceConf = [];
    @foreach (var item in (List<string>) ViewData["TracksAttendance"])
    {    
        <text>TracksAttendanceData.push(@Html.Raw(item));</text>
    }
      
    var TracksAttendanceChart = document.getElementById('TracksAttendance').getContext('2d');
       
    for (let d of TracksAttendanceData)
        {   
            
            let attendance = [];
            for (let e of d.Data)
                {
                                if (! TracksAttendanceConf.includes(e.Name))
                                {
                                    TracksAttendanceConf.push(e.Name);
                                }
                                attendance.push(e.Attendance);

                }
            let data = {label: d.Name, data: attendance, backgroundColor: getRandomColor()};
            TracksAttendance.push(data)
            
           
        }
   
    var massPopChart = new Chart(TracksAttendanceChart, {
        type: "bar",
        data: {
            labels: TracksAttendanceConf,
            datasets: TracksAttendance
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>


<h1>CONFERENCEEVENTSRATINGS</h1>

@foreach (var item in (List<string>) ViewData["ConferencesEventsRatings"])
 {
     <p>@Html.Raw(item)</p>
 }
<h1>EventsRatings</h1>

@foreach (var item in (List<string>) ViewData["EventsRatings"])
 {
     <p>@Html.Raw(item)</p>
 }
<h1>CONFERENCESTRACKRATINGS</h1>

@foreach (var item in (List<string>) ViewData["ConferencesTrackRating"])
 {
     <p>@Html.Raw(item)</p>
 }
<h1>TRACKSRATING</h1>

@foreach (var item in (List<string>) ViewData["TracksRating"])
 {
     <p>@Html.Raw(item)</p>
 }
<h1>SPEAKERSRATING</h1>

@foreach (var item in (List<string>) ViewData["SpeakersRating"])
 {
     <p>@Html.Raw(item)</p>
 }
</body>   