@using Microsoft.EntityFrameworkCore.Internal
@model CMWeb.Models.Talk

@{
    ViewData["Title"] = "Details";
}

<style>
    .rate-select{
    display: inline-flex;
    }
</style>


<h1>Details</h1>
<form asp-controller="EventRating" asp-action="Create" method="post">  
        <fieldset>
        <legend>How was the talk? Rate the quality and comfort during the event!</legend>
            <div class ="rate-select">
                <table>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="Rating" value="1" onclick="return ValidateRating();"></td>
                        <td><input type="checkbox" name="Rating" value="2" onclick="return ValidateRating();"></td>
                        <td><input type="checkbox" name="Rating" value="3" onclick="return ValidateRating();"></td>
                        <td><input type="checkbox" name="Rating" value="4" onclick="return ValidateRating();"></td>
                        <td><input type="checkbox" name="Rating" value="5" onclick="return ValidateRating();"></td>
                    </tr>
                </table>
                
            </div>
            <div>
                Comment:<br>
                <input type="text" name="Comment"><br>
                <input value="@Model.Id" type="hidden" name="EventId"/>
                <input value="@ViewData["CurrentUserId"]" name="UserId" type="hidden"/>
                <br>
            </div>
            <input type="submit" value="Enviar">  
        </fieldset>  
    </form>  
    <a asp-controller="EventRating" asp-action="Index" asp-route-eventId="@Model.Id">Show all comments</a>

<div>
<hr/>
    <h4>Talk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Track)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Track)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference.SuperConference.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventCenterRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventCenterRoom.Name)
        </dd>
    </dl>
</div>
<hr/>
<table>
        <tr>
            <th>
                Files
            </th>
        </tr>
        <tr>
            @{
                if (!Model.Files.Any())
                {
                    <td class="col-sm-10">
                        Event has no files yet.
                    </td>
                }
                else
                {
                    if (DateTime.Now > Model.EndDate)
                    {
                        foreach (var item in Model.Files)
                        {
                            <td>
                                <a asp-action="Download" asp-controller="FileManager" asp-route-filename="@item.Name">
                                    @item.Name
                                </a>
                            </td>
                        }
                    }
                    else
                    {
                        <td class="col-sm-10">
                            Event must end in order to see the files.
                        </td>
                    } 
                }
                
                }
        </tr>
    </table> 
<hr/>
<div>
    <h3>Upload Files</h3>
    <form asp-controller="FileManager" asp-action="UploadFile" asp-route-ev="@Model.Id"
          asp-route-evType="@Model.GetType().Name" method="post"
          enctype="multipart/form-data">

        <input type="file" name="file"/>
        <button type="submit">Upload File</button>
    </form>
</div>
<br/>

<div>
        @{
            if (!(bool)ViewData["Attendance"])
            {
                <a class="btn btn-primary" asp-action="Attend" asp-route-id="@Model.Id" 
                   asp-route-type="Attendee">Attend</a>

                if (!(bool) ViewData["Speaker"])
                {
                    <a class="btn btn-primary" asp-action="Attend" asp-route-id="@Model.Id" 
                       asp-route-type="Speaker">Attend as Speaker</a>
                }
                
            }
    
        }
        <br/>
    
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Details" asp-controller="Conference" asp-route-id="@Model.ConferenceId">Back to Conference</a>
</div>
<script>
function ValidateRating()  
    {  
        var checkboxes = document.getElementsByName("Rating");  
        var numberOfCheckedItems = 0;  
        for(var i = 0; i < checkboxes.length; i++)  
        {  
            if(checkboxes[i].checked)  
                numberOfCheckedItems++;  
        }  
        if(numberOfCheckedItems > 1)  
        {  
            alert("You can't select more than one rate!");  
            return false;  
        }  
    }
</script>